*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1556px;
    min-width: 1200px;
    max-width: 1556px;
    position: relative;
}
body{
    background:#000;
    background: url(../img/Box-leather-grey-dark.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
}
section{
   position: relative;
   top: 3em;
}
footer{
   position: relative;
   top: 12em;
   border:1px solid #f40;
   height: 300px;
   background: radial-gradient(#eee,transparent);
}
li{
    list-style: none;
    height: 3.5em;
    text-align: center;
    box-sizing: border-box ;
    /* border: 1px solid #333; */
}
a{
    text-decoration: none;
    color: #eee;
}
a:hover{
    color: #ff0;
}
.may-hide:hover{
    border-bottom: 3px solid #eee;
}

/*div.top-menu{
    top: 0;
    width: 100%;
    height: 3.5em;
    position: fixed;
    background: linear-gradient(#333,gray);
    border: 1px solid black;
    box-shadow: 0 0px 7px 3px #000;
    z-index:999;
}
.war_logo a{
    width: 150px;
    height: 0;
    padding-top: 3.5em;
    overflow: hidden;
    display: inline-block;
    margin-left: 10px;
    background-image: url("../img/logo_blizzard.png");
    background-position: 0 0;
    background-size: 100px;
    background-repeat: no-repeat;
}
.war_item{
    background: #333;
    border-bottom: 5px solid #FF0;
}
div.top-menu>ul {
    display: inline-block;
}
div.top-menu>ul>li{
    height: 100%;
    line-height: 3.5em;
    font-size: 14px;
}
div.top-menu ul li::after{
    content: "";
    display: block;
    clear: both;
}
ul.top-left{
    float: left;
}
ul.top-right{
    float: right;
}
ul.top-left>li{
    float: left;
}
ul.top-right>li{
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}
ul.top-left::after{
    content: "";
    display: block;
    clear: both;
}
ul.top-right::after{
    content: "";
    display: block;
    clear: both;
}
.search{
    width: 200px;
    height: 2.25em;
    outline: none;
    margin-left: 1em;
    margin-top: 0.7em;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px gray;
    font-size: 14px;
    text-indent: 0.5em;
    transition: all 1s;
}
.search:focus{
    width: 450px;
    border: 1px solid #dd0;
    box-shadow: 0 0 3px 2px #FF0;
}

.sec{
    width: 8.5em;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.sec>ul li a{
    display: inline-block;
    width: 100%;
}
.sec ul{
    border: 1px solid #eee;
    margin-top: 6px;
}
.top-left li:hover .sec{
    height: 205px;
}
.sec ul li a:hover{
    background: #eee;
    color: #333;
}*/
/*登录面板*/

/*.loginLi>span{
    margin-left: 5px;
}
.loginon,.loginoff{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0f0;
    box-shadow: 0 0 5px 1px #0f0;
    cursor: pointer;
}
.loginoff{
    background: #f00;
    box-shadow: 0 0 5px 1px #a00;
}
.login_panel{
    background: #333;
    padding: 5px 10px;
    position: absolute;
    right: 90px;
    top: 4em;
    color: #eee;
    border: 1px solid #333;
    display: none;
}
.top_rec{
    position: absolute;
    top: -21px;
    right: 10px;
    width: 0;
    border:10px solid #333;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
}
.login_panel input{
    width: 245px;
    height: 30px;
    outline: none;
    margin-left: 4px;
    border: 1px solid #EEE;
    border-radius: 5px;
    text-indent: 10px;
    font-family:Arial;
    font-size: 14px;
    
}
.login_panel p{
    position: relative;
}
.login_panel label{
    color: black;
    position: absolute;
    right: 10px;
    font-size: 20px;
}
.login_panel h2{
    text-shadow: 0 0 10px #FF0;
}
.login_panel button{
    width: 70px;
    height: 35px;
    color: #FFF;
    font-size: 14px;
    border: none;
    outline: none;
    left: 0;
    font-weight: bold;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: -100px;
    text-shadow: 0 0 3px #FF0;
}
.login_panel button:hover{
    background: #eee;
    color: #333;
}
.err_msg{
    width: 100%;
    height: 0px;
    background: #aaa;
    color: #500;
    transition: all 0.5s linear;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}*/

/* 验证提示 */
/*.vali_success{
    position: absolute;
    color: #0a0 !important;
    right: 10px;
    font-size: 20px;  
}
.vali_fail{
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #a00 !important;
}*/






/*主题文字部分*/
div.sub_title{
    position: absolute;
    right: 8%;
    top: 10%;
    color: #eee;
    text-align: center;
}
div.sub_title span{
    font-size: 2.5em;
    font-family:fantasy;
    text-shadow:0 0 9px #FF0;
    text-align: center;
}
div.sub_title button{
    width: 100px;
    height: 38px;
    border-radius: 5px;
    outline: none;
    border:none;
    background: transparent;
    color: #eee; 
    font-size: 14px;
    font-weight: bold;
    border:1px solid #ff0;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 2px #FF0;
    transition: all 0.5s linear; 
}
div.sub_title button:hover{
   /* background: linear-gradient(#333,yellow);*/
  /*  box-shadow: 0 0 10px 2px #eee inset;*/
  color: #333;
  background: #eee;
  border: 1px solid #fff;
   box-shadow: 0 0 10px 2px #FFF;
}

/*主图面板 海报*/
div.crouse_box{
    position: relative;
    width: 100%;
    /*height:700px;*/
    overflow: hidden;
    transition: all 0.5s linear;
    border: 2px solid red; 
    
   /* float: left;*/
}
.sub_image{
    /*float: left;*/
    width: 100%;
    
    display: inline-block;
}
.sub_image img{
    width: 100%;
    transition: all 0.5s;
    box-shadow: 0 0 20px 5px #eee inset;
   /* float: left;*/
}

/* 中间一层 */
/*附图内容及面板*/
.content_mid{
    position: relative;
    /* top: 0px; */
    margin-top: 5em;
    opacity: 0;
    transition: all 0.5s linear;
    border: 2px solid #0f0;
    display: flex;
    justify-content: space-between;
}
/* 中间一层左侧 */
 .content_mid_lf{
    width: 500px;
    height: 400px;
    border:1px solid red;
    text-align: center;
    padding: 0 10px;
    display: flex;
    margin-left: 50px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.content_box1{
    width: 500px;
    height: 180px;
    border: 1px solid pink;
    position: relative;
    text-align: center;
}

.content_box1 .content_download {
    position: relative;    
    text-align: center; 
    float: right;

}
.content_box1 .content_download a{
    display: inline-block;
    width: 380px;
    height: 160px;
    background:linear-gradient(to right,#FF0,#aaa);
    margin: 10px auto;
    line-height: 160px;
    text-align: center;
    font-size: 35px;
    color: #eee;
    font-weight: bold;
    transition: all 0.5s linear;
}
.content_box1 .content_download a:hover{
    text-shadow:  0 0 20px #FF0;
    box-shadow: 0 0 20px 5px #eee inset;
}
.content_newperson a,
.content_gift a
{   
    color: #444;
    font-family: "微软雅黑";
    float: left;
    width: 100px;
    height: 75px;
    font-size: 16px;
    background: #0dd;
    line-height: 70px;
    margin-top: 10px;
    transition: all 0.5s linear;
}
.content_newperson a:hover,
.content_gift a:hover{
    color: #eee;
    background: #0ee;
    box-shadow: 0 0 20px 5px #eee inset;
}
.content_intent,
.content_method{
    width: 40px;
    height: 70px;
    margin-left: 10px;
    background: #0ff;
    line-height: 70px;
    margin-top: 10px;
    float: left;
}

.content_box2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid blue;
}
.content_box2 div a{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 80px;
    margin: 10px 5px; 
    line-height: 80px;
    background: #eee;
    color: #333;
}
.content_box2 div a:hover{
    background-color: #ff0;
}
@media screen and (min-width:768px) and (max-width:991px){
    div.top-menu ul.top-right .may-hide{
        display: none;
    }
}
@media screen and (max-width:767px){
    div.top-menu ul.top-left{
        display: none;
    }
    div.top-menu ul.top-right .may-hide{
        display: none;
    }
    li.must-show{
        width: 20em;
    }
    li.must-show .search{
        width: 100%;
        margin: 0 auto;
    }
}
/* 中间一层右侧 */
.content_mid_gt{
    width: 820px;
    height: 400px;
    border:1px solid #e00;
    position: relative;
    margin-right: 50px;
}
.content_box3{
    width: 800px;
    height: 375px;
    margin-right: 10px;
    border:1px solid #eee;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}
.img_crouse{
    width: 4000px;
    height: 100%;
    border:1px solid #ff0;
    transition: all 0.5s linear;
    background: radial-gradient(#ff0,transparent);
}
.img_crouse>a{
    float: left;
    width: 800px;
    height: 100%;
}
.img_crouse img{
    display: inline-block;
    width: 800px;
    height: 100%;
}
.img_crouse a:nth-child(1){
    background: linear-gradient(#333,#500);
}
.img_crouse a:nth-child(2){
    background: linear-gradient(#333,#050);
}
.img_crouse a:nth-child(3){
    background: linear-gradient(#333,#005);
}
.img_crouse a:nth-child(4){
    background: linear-gradient(#333,#fa0);
}
.img_crouse a:nth-child(5){
    background: linear-gradient(#333,#0ff);
}


.img_crouse_menu{
    width: 100%;
    height: 40px;
    position: absolute;
    background: #eee;
    bottom: 0;
    line-height: 40px;
    border:1px solid #eee;
    font-family: "微软雅黑";
}
.img_crouse_menu ul{
    width: 100%;
    height: 100%;
    border:1px solid #333;
}
.img_crouse_menu ul li{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    list-style: none;
    float: left;
    border:1px solid #333;
}
.img_crouse_menu a{
    color: #333;
}




/* 中间二层 */
.content_mid2{
    position: relative;
    height: 400px;
    /* top: 3em; */
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    border:2px solid #eee;
    transition: all 0.5s;
}
/* 中间二层左侧 */
.content_mid2_lf{
    width: 1000px;
    position: relative;
    display: flex;
    border:1px solid #ff0;
    margin-left: 50px;
    justify-content: space-around;
}
.content_mid2_lf>div{
    width: 24%;
    height: 280px;
    border:1px solid #eee;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.content_mid2_lf>div>img{
    position: absolute;
    left: 0;
    top: 0;
    background: eee;
    width: 100%;
    height: 240px;
}
div.hide_panel{
    position: absolute;;
    top: 220px;
    color: #eee;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s linear;
    background: rgba(200,200,200,.3);
}
div.hide_panel:hover{
    top: 140px;
}
.hide_panel a{
    display: inline-block;
    width: 70px;
    height: 30px;
    background:#eee;
    color: #333;
    line-height: 30px;
    text-align: center;
    margin-top:30px;
}
/* 中间二层右侧 */
.content_mid2_gt{
    width: 600px;
    position: relative;
    display: flex;
    border:1px solid #ff0;
    justify-content: space-around;
    margin-right: 50px;
}
.mid2_gt_tab{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
}
.mid2_gt_tab a:hover{
    text-decoration: underline;
}
.mid2_gt_tab ul {
    padding: 0;
    list-style: none;
}
.mid2_gt_tab ul li{
    text-align: center;
    width: 20%;
    float: left;
    color: #eee;
}
.mid2_gt_content{
    width: 100%;
    height: 340px;
    border: 1px solid #ff0;
    position: absolute;
    left: 0;
    top: 60px;
}
.mid2_gt_content ul{
    padding: 0;
    list-style: none;
}
.mid2_gt_content ul li{
    width: 100%;
    height: 35px;
    border: 1px solid #eee;
    text-align: left;
    line-height: 35px;
    font-size: 14px;
}
.mid2_gt_content a{
    margin-left: 50px;
}

/*新闻、赛事、版本、消息推送*/
.new_info,.match_info,.edition_info{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 5px;
}
.new_info{
    border: 1px solid #0af;
    color: #0af;
}
.match_info{
    border: 1px solid #fa0;
    color: #fa0;
}
.edition_info{
    border: 1px solid #af0;
    color: #af0;
}





/*中间第三层*/
.content_mid3{
    position: relative;
    height: 400px;
    top: 4em; 
    /*margin-top: 5em;*/
    display: flex;
    transition: all 0.5s linear;
    justify-content: space-between;
    border:2px solid #eee;
}
/* 中间第三层--左侧 */
.mid3_lt{
    width: 550px;
    height: 380px;
    border: 1px solid #ff0;
    position: relative;
    margin-left: 50px;
    margin-top: 5px;
}
.mid3_lt_img1{
    width: 550px;
    height: 385px;
    border: 1px solid #ff0;
    position: relative;
    background:url(../img/anduyin.jpg) center center no-repeat;
    transition: all 0.5s linear;
    background-size: cover;
}
.mid3_lt_img1:hover{
    /*transform: scale(1.1);*/
    box-shadow: 0 0 5px #eee;
}
.mid3_lt_panel{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s linear;
    background: rgba(0, 0, 0, .5);
}
.mid3_lt_panel:hover{
    opacity: 1;
    cursor: pointer;
}
.mid3_lt_panel a{
    display: inline-block;
    min-width: 100px;
    height: 35px;
    background: radial-gradient(#aaa,#fff);
    color: #333;
    font-weight: bold;
    padding: 0 5px;
    line-height: 40px;
    border: 1px solid #888;
    box-shadow: 0 0 5px #aaa;
    border-radius: 5px;
    transition: all 0.5 linear;
}
.mid3_lt_panel a:hover{
    border: 1px solidd #eee;
    box-shadow: 0 0 5px 2px #fff;
    transform: scale(1.2);
    box-shadow: 0 0 5px #eee;
}

/* 中间第三层--右侧 */
.mid3_gt video{
    width: 100%;
    height: 100%;
    position: absolte;
    opacity: 0;
    transition: all 0.5s linear;
    background: rgba(125, 125, 125, 0.5);
}
.mid3_gt:hover video{
    opacity: 1;
}

.mid3_gt{
    width: 810px;
    height: 0px;
    padding-bottom: 56.25%;
    border: 1px solid #eee;
    position: relative;
    margin-right: 50px;
    overflow: hidden;
    padding-bottom: 25%;
}
.mid3_gt_Img1{
    width: 800px;
    height: 380px;
    border:1px solid #eee;
    background: url(../img/deth_dragon.jpg) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 5px;
}
.mid3_gt video{
    /* width: 800px;
    height: 380px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(1.2);
    border: 1px solid #ff0;
}
.mid3_gt_title{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: fantasy;
    font-weight: bold;
    text-shadow: 0 0 10px #ff0;
    background: rgba(100, 100, 100, .5);
}
.mid3_gt_title h1{
    color: #700;
    font-size: 30px;
    margin-left: 100px;
}
.mid3_gt_title h3{
    color: #A0522D;
    margin-left: 100px;
}
.mid3_gt_title span{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 0 5px #000;
}



/* 中间第四层——隐藏层 */
.content_mid4{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    height: 0px;
    top: 5em;
    /*margin-top: 60px;*/
    display: flex;
    justify-content: space-around;
    transition: all 1s;
    /*border:1px solid #eee;*/
    background: rgba(200, 200, 200, .5);
    overflow: hidden;
}
.content_mid4 div{
    width: 150px;
    height: 130px;
    border: 1px solid #eee;
    background:radial-gradient(#0af,transparent);
    margin-top: 10px;
}


/* 中间第五层 */
.content_mid5{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    height: 240px;
    top: 7em;
    /*margin-top: 50px;*/
    display: flex;
    /*justify-content: space-between;*/
    border:2px solid #5e0;
}

.mid5_panel h3{
    color: #eee;
    font-family: '微软雅黑';
}
/* 故事面板 */
.mid5_panel,.mid5_storypanel{
    width: 100%;
    height: 100%;
    border: 1px solid #f50;
    position: relative;
}

.mid5_storypanel{
    height: 90%;
    border: 1px solid #50f;
    background: radial-gradient(#50f,transparent);
}

.mid5_storypanel ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.mid5_storypanel ul p>a{
    text-decoration: none;
    color: #eee;
    font-size: 14px;
    font-family: '微软雅黑';
}

.mid5_storypanel ul>li{
    float: left;
    margin-top:2px;
    position: relative;
    /* margin-left: 40px; */ 
}

.mid5_storypanel ul>li>a{
    display: inline-block;
    width: 300px;
    height: 180px;
    transition: all 0.5s;
    border: 1px solid #eee; 
}
.mid5_storypanel ul>li>p{
    height: 30px;
    margin-top: -4px;
    box-sizing: border-box;
    border: 1px solid #eee;
    background: radial-gradient(#eee,transparent);
}
.mid5_storypanel ul>li:nth-child(1)>a{
    background: url(../img/story/war6.jpg) center center no-repeat;
    background-size: cover;
}
.mid5_storypanel ul>li:nth-child(2)>a{
    background: url(../img/story/xiwanas.jpg) center left no-repeat;
    background-size: cover;
}
.mid5_storypanel ul>li:nth-child(3)>a{
    background: url('../img/story/xiwana yu anduyin.jpg') center center no-repeat;
    background-size: cover;
}
.mid5_storypanel ul>li:nth-child(4)>a{
    background: url('../img/story/panda.jpg') center center no-repeat;
    background-size: cover;
}
.mid5_storypanel ul>li>a:hover{
    box-shadow: 0 0 10px 3px #eee;
}

/* 第五层遮罩 */
.mid5_hide{
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 100px;
    line-height: 50px;
    color: #eee;
    text-align: left;
    font-family: "微软雅黑";
    text-indent: 20px;
    transition: all 0.5s;
}
.mid5_hide:hover{
    text-shadow: 0 0 5px #eee;
}



/* 背景音乐 */
.bg_music{
    display: none;
}




/* 页底 */

/* 底部信息列表 */
.bottom-info{
    height: 100%;
    position: relative;
    border: 1px solid #0ff;
    font-size: 14px;
    font-family: 'Courier New';
    display: flex;
    justify-content: space-between;
}

.bottom-info-lt,.bottom-info-gt{
    width: 600px;
    height: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
}
.bottom-info-lt{
    margin-left: 50px;
    color: #333;
    font-weight: bold;
    font-family: fantasy;
}
.bottom-info-gt{
    margin-right: 50px;
}
/*底部左边信息*/
.bottom-info-lt>ul{
    margin: 100px auto;
    padding: 20px;
}
.bottom-info-lt>ul li{
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 5px;
    text-align: left; 
}
.bottom-info-lt>ul a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.bottom-info-lt>ul img{
  width:100%;
  height: 100%; 
}
/* 底部右边信息 */
.bottom-info-panel{
    width: 400px;
    height: 200px;
    margin: 100px auto;
    /*border: 1px solid red;*/
    display: flex;
}
.bottom-info-panel>div{
    display: inline-block;
    height: 100%;
}
.bottom-info-panel>div:nth-child(1){
    width: 50%;
    /*border: 1px solid #eee;*/
}
.bottom-info-panel>div:nth-child(1) a{
    display: inline-block;
    width: 100%;
    height: 100px;
    /*border: 1px solid #eee;*/
    background: url(../img/warcraft-logo.png) 0 center no-repeat;
}
.bottom-info-panel>div:nth-child(1) p{
    height: 20px;
    /*border: 1px solid #eee;*/
    font-size: 16px;
    color: #333;
    font-family: 'simHei';
}
.bottom-info-panel>div:nth-child(2){
    width: 50%;
    /*border: 1px solid #eee;*/
}
.bottom-info-panel>div:nth-child(2) img{
    width: 70%;
    height: 70%;
}
