*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1556px;
    min-width: 1200px;
    max-width: 1556px;
    position: relative;
}
body{
    background:#555;
}
/* footer{
    position: relative;
    width: 1556px;
    top: 15em;
    border:1px solid #f40;
    height: 300px;
    background: #eee;
    margin: 0 auto;
} */
section{
   position: relative;
   top: 3em;
}

li{
    list-style: none;
    height: 3.5em;
    text-align: center;
    box-sizing: border-box ;
    /* border: 1px solid #333; */
}
a{
    text-decoration: none;
    color: #eee;
}
a:hover{
    color: #ff0;
}
/* .may-hide:hover{
    border-bottom: 3px solid #eee;
} */

.do-hide{
    display: none;
}

/* 顶部菜单 */
/* div.top-menu{
    top: 0;
    width: 100%;
    height: 3.5em;
    position: fixed;
    background: linear-gradient(#333,gray);
    border: 1px solid black;
    box-shadow: 0 0px 7px 3px #000;
    z-index:999;
}
.war_logo a{
    width: 150px;
    height: 0;
    padding-top: 3.5em;
    overflow: hidden;
    display: inline-block;
    margin-left: 10px;
    background-image: url("../img/logo_blizzard.png");
    background-position: 0 0;
    background-size: 100px;
    background-repeat: no-repeat;
}
.war_item{
    background: #333;
    border-bottom: 5px solid #E9A237;
}
div.top-menu>ul {
    display: inline-block;
}
div.top-menu>ul>li{
    height: 100%;
    line-height: 3.5em;
    font-size: 14px;
}
div.top-menu ul li::after{
    content: "";
    display: block;
    clear: both;
}
ul.top-left{
    float: left;
}
ul.top-right{
    float: right;
}
ul.top-left>li{
    float: left;
}
ul.top-right>li{
    float: right;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
ul.top-left::after{
    content: "";
    display: block;
    clear: both;
}
ul.top-right::after{
    content: "";
    display: block;
    clear: both;
}
.search{
    width: 200px;
    height: 2.25em;
    outline: none;
    margin-left: 1em;
    margin-top: 0.7em;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px gray;
    font-size: 14px;
    text-indent: 0.5em;
    transition: all 0.5s;
}
.search:focus{
    width: 450px;
    border: 1px solid #dd0;
    box-shadow: 0 0 3px 2px #FF0;
}

.sec{
    width: 8.5em;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.sec>ul li a{
    display: inline-block;
    width: 100%;
}
.sec ul{
    border: 1px solid #eee;
    margin-top: 6px;
}
.top-left li:hover .sec{
    height: 205px;
}
.sec ul li a:hover{
    background: #eee;
    color: #333;
} */
/*登录面板*/
/* .login_panel{
    background: #333;
    padding: 5px 10px;
    position: absolute;
    right: 90px;
    top: 4em;
    color: #eee;
    border: 1px solid #333;
    display: none;
    box-shadow: 0 0 5px 2px #000;
}
.top_rec{
    position: absolute;
    top: -21px;
    right: 10px;
    width: 0;
    border:10px solid #333;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
}
.login_panel input{
    width: 245px;
    height: 30px;
    outline: none;
    margin-left: 4px;
    border: 1px solid #EEE;
    border-radius: 5px;
    text-indent: 10px;
    font-family:Arial;
    font-size: 14px;
    
}
.login_panel p{
    position: relative;
}
.login_panel label{
    color: black;
    position: absolute;
    right: 10px;
    font-size: 20px;
}
.loginLi>span{
    margin-left: 5px;
}
.loginon,.loginoff{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0f0;
    box-shadow: 0 0 5px 1px #0f0;
    cursor: pointer;
}
.loginoff{
    background: #f00;
    box-shadow: 0 0 5px 1px #a00;
}
.login_panel h2{
    text-shadow: 0 0 10px #FF0;
}
.login_panel button{
    width: 70px;
    height: 35px;
    color: #FFF;
    font-size: 14px;
    border: none;
    outline: none;
    left: 0;
    font-weight: bold;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: -100px;
    text-shadow: 0 0 3px #FF0;
}
.login_panel button:hover{
    background: #eee;
    color: #333;
}
.err_msg{
    width: 100%;
    height: 0px;
    background: #aaa;
    color: #500;
    transition: all 0.5s linear;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
} */

/* 验证提示 */
/* .vali_success{
    position: absolute;
    color: #0f0 !important;
    right: 10px;
    font-size: 20px;
    
}
.vali_fail{
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #a00 !important;
} */


/*主内容*/
.story_container{
    min-width: 1200px;
    width: 100%;
    min-height: 700px;
    box-shadow: 0 0 5px #aaa;
    border: 1px solid #eee;
}
.content_panel{
    border: 1px solid #333;
    height: 500px;
}

/* 主体内容部分 */
/* 主体容器 */
.story_container{
    width: 1556px;
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.story_new{
    width: 100%;
    height: 0px;
    position: relative;
    border: 1px solid #eee;
    background: rgba(200, 200, 200, 0.5);
    overflow: hidden;
    padding-bottom: 56.25%;
}
.story_new video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(1.1);
}
.hide_panel{
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent,#000);
}
.hide_panel h1{
    position: absolute;
    left: 50px;
    top: 0;
    font-size: 50px;
    color: #eee;
}
.hide_panel p{
    position: absolute;
    left: 50px;
    top: 80px;
    color: #eee;
    font-family: Arial;
    font-size: 20px;
}
.hide_panel button{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 50px;
    top: 150px;
    color: #eee;
    font-size: 20px;
    border: 1px solid #eee;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s linear;
}
.hide_panel button:hover{
    background: #eee;
    color: #333;
}
.hide_panel>button:nth-child(4){
    left: 300px;
}

/* 导航菜单 */
.story_menu{
    width: 100%;
    height: 100px;
    border: 1px solid #eee;
    position: relative;
    font-family: '微软雅黑';
}
.story_menu>ul{
    width: 100%;
    height: 50px;
    padding: 0;
    margin-top: 25px;
    list-style: none;
    border: 1px solid #eee;
    background: rgba(200, 200, 200, .7);
}
.story_menu>ul>li{
    width: 140px;
    height: 100%;
    float: left;
    background: #eee;
    line-height: 50px;
    border: 1px solid #aaa;
}
.story_menu>ul>li::after{
    content: "";
    display: block;
    clear: both;
}
.story_menu>ul>li+li{
    border-left: none;
}
.story_menu>ul>li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
}
.story_menu>ul>li>a:hover{
    background: #E9A237; 
    color: #eee;
}


/* 主面板 */
.story_panel{
    position: relative;
    width: 100%;
    border: 1px solid green;
    /* top: 100px; */
}


/* 副面板 */
/* 历史视频 */
.history_panel,.zhuxian_panel,.origin_panel,.occupation_panel,.comment_panel{
    width: 100%;
    border: 1px solid #eee;
    top: 20px;
}
.history_item{
    width: 90%;
    height: 500px;
    position: relative;
    border: 1px solid #eee;
    background-color: #aaa;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
/*逆序*/
.item_reverse{
    flex-direction: row-reverse;
}
.history_msg{
    width: 25%;
    height: 100%;
    border: 1px solid #eee;
    background: url(../img/deepblue_back.jpg) center center no-repeat;
    background-size: cover;
    font-family: '微软雅黑';
    color:#eee;
    text-align: center;
}
.history_msg h1{
    margin-top: 100px;
}
.history_msg h2{
    margin-top: 30px;
}
.history_msg button{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    border:1px solid #eee;
    color: #eee;
    margin-top: 50px;
    cursor: pointer;
    font-family: '微软雅黑';
    font-size: 16px;
    transition: all 0.5s;
}
.history_msg button:hover{
    background: #eee;
    color: #000;
}
.history_img{
    width: 80%;
    height: 80%;
    border: 1px solid #eee;
    position: relative;
}
.history_item img{ 
    width: 100%;
    height: 500px; 
}

.origin_panel{
    width: 100%;
    position: relative;
    background: url(../img/Box-leather-grey-dark.jpg) center center no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
.history_item{
    width: 100%;
    height: 550px;
    position: relative;
    border: 1px solid #eee;
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
}
.history_item+.history_item{
    margin-top: 20px;
}
.history_img{
    width: 80%;
    height: 550px;
    border: 1px solid #eee;
    
}
.history_item img{ 
    width: 100%;
    height: 550px;
}
.shadow{
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(transparent,#000);
}


/* 主线剧情 */
.zhuxian_panel{
    border: 1px solid #ff0;
}
.story_list{
    width: 100%;
    height: 500px;
    border: 1px solid #eee;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.list_item{
    color: #eee;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border: 1px solid red;
}

.story_list_lt,.story_list_gt{
    width: 50%;
    height: 100%;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.story_list_bk{                                                                  
    width: 50%;
    height: 50%;
    border: 1px solid #eee;
    box-sizing: border-box;
}






/* 种族面板 */
.origin_content{
    width: 100%;
    height: 800px;
    position: relative;
    border: 1px solid #ff0;
}
.img_panel{
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
}
.img_panel img{
    width: 100%;
    height: 500px;
    margin-top: -50px;
}

.ctn_panel{
    width: 100%;
    height: 400px;
    background: #aaa;
    background: url(../img/Panel-bg-stacked.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    color: #eee;
    font-family: '微软雅黑';
    overflow: hidden;
}
.ctn_panel h1{
    text-align: center;
    margin-top: 20px;
}
.ctn_panel p{
    text-align: left;
    text-indent: 20px;
    margin-top: 20px;
}


/*职业面板*/
.occupation_panel{
  position: relative;
}
.occupation_panel .occupy_panel{
    width: 100%;
    height: 100%;  
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.occupation_item{
    width: 300px;
    height: 400px;
    margin: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px 2px #000;
    transition: all 0.5s linear;
}
.occupation_img,.occupation_info{
    width: 100%;
    height: 50%;
    border: 1px solid #eee;
    position: relative;
    color: #000;
}
.occupation_img{
    background: url(../img/Box-honor-red.jpg) no-repeat;
    background-size: cover;
  
}
.occupation_info{
    background: url(../img/Box-paper.png) no-repeat;
    background-size: cover;
    text-align: center;
}
.occupation_img img{
    width: 140px;
    height: 157px;
    /* border:1px solid #eee; */
    box-shadow: 0 0 5px 1px #eee;
    border-radius: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -75px;
    cursor: pointer;
    transition: all 0.5s;
}
.img_ability{
    cursor: pointer;
    position: relative;
}
.ability_box{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 80px;
    height: 100px;
    border: 1px solid #eee;
    z-index: 999;
}
.occupation_img img:hover{
    box-shadow: 0 0 15px 4px #eee;
    transform: scale(1.1);
}
.occupation_info h3{
   margin-top: 20px;
}
.occupation_info p{
    font-size: 14px;
}
.occupation_info>div{
    margin: 10px auto;
}
.occupation_info img{
    width: 40px;
    height: 40px;
    margin: 0 4px;
}
.occupation_info button{
    width: 70px;
    height: 30px;
    font-family: '微软雅黑';
    cursor: pointer;
    border: 1px solid #aaa;
  
}





/* 玩家讨论 */
.comment_panel{
    min-height: 600px;
    border: 1px solid #0ff;
    background: url(../img/Box-leather-grey-dark.jpg) center center no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
}

.commnent{
    width: 95%;
    margin: 0 auto;
    border: 1px solid blue;
    background: rgba(100, 100, 100, .7);
}
.commnent>ul{
    padding: 0;
    width: 100%;
    list-style: none;
    background: #eee;
}
.commnent>ul>li{
    width: 90%;
    height: 100px;
    /* border: 1px solid #ff0;  */
    margin:0 auto;
    /* margin-top: 10px; */
    background: #eee;
}

.comment_item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.comment_lt{
    width: 100px;
    height: 100%;
    /* border: 1px solid #eee; */
    position: relative;
}
.comment_lt img{
    display: inline-block;
    background: #aaa;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    margin-left: -30px;
    top: 10px;
}
.comment_gt{
    width: 90%;
    height: 100px;
    /* border: 1px solid blue; */
    position: relative;
    text-align: left;
    border-bottom: 1px solid #aaa;
}
.comment_gt p{
    margin-top: 20px;
    margin-left: 10px;
    color: #000;
}
.praise,.hate{
    position: absolute;
    bottom: 10px;
    left: 10px;
    vertical-align: center;
}
.comment_gt .praise i{
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    background: url(../img/icon/赞前.png) center center no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.comment_gt .hate{
    left: 65px;
}
.comment_gt .hate i{
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    background: url(../img/icon/踩前.png) center center no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.comment_gt .username{
    position: absolute;
    right: 220px;
    bottom: 10px;
    color: #000;
    font-family: fantasy;
}
.comment_gt .datetime{
    position: absolute;
    right: 50px;
    bottom: 10px;
    color: #000;
    font-size: 14px;
    font-family: serif;
}


/* 留言板 */
.sendInfo{
    width: 95%;
    min-height: 50px;
    margin: 0px auto;
    background: #ddd;
    /* box-shadow: 0 0 5px 2px #fff; */
    /* display: flex;
    align-items: center; */
    text-align: center;
   
}
.sendInfo textarea{
    width: 70%;
    margin: 10px auto;
    background:#333;
    border-radius: 5px;
    min-height: 30px;
    max-width: 70%;
    min-width: 70%;
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    font-size: 16px;
    text-indent: 10px;
    line-height: 30px;
    color: #fff;
    outline: none;
    font-family: '微软雅黑';
}
.sendInfo input{
    width: 60px;
    height: 30px;
    border: none;
    background: radial-gradient(#fff,#ff8c00);
    border-radius: 5px;
    margin: 10px auto;
    transition: all 0.5s linear;
    vertical-align: top;
    outline: none;
    box-shadow: 0 0 5px 2px #fff;
}
.sendInfo input:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 2px #ff0;
}


/*统计图*/
.echartPanel{
    display: inline-block;

}
.chart_panel{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    /* border: 1px solid #ff0; */
}

.hole_item,.legend_item{
    width: 300px;
    height: 300px;
    /* border: 1px solid #eee; */
    position: absolute;
    top: 200px;
    
}
.hole_item{
    left: 130px;
    background: url(../img/Logo-部落.png) center center no-repeat;
    background-size: contain;
    font-size: 30px;
    font-family:'Times New Roman';
    color: #eee;
    text-shadow: 0 0 10px #fa0;
 
}
.legend_item{
    right: 130px;
    background: url(../img/Logo-联盟.png) center center no-repeat;
    background-size: contain;
    font-size: 30px;
    color: #eee;
    text-align: right;
    font-family:'Times New Roman';
    text-shadow: 0 0 10px blue;
}
.chart_item{
    width: 600px;
    height: 600px;
    /* border: 1px solid red; */
    margin: 30px auto;
    position: relative;
}
.chart_detail{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}
.chart_lt,.chart_gt{
    width: 30%;
    border-radius: 5px;
    /* border: 1px solid #eee; */
}
.chart_lt{
    background: rgba(150, 150, 150, 0.3); 
}
.chart_gt{
    background: rgba(150, 150, 150, 0.3);
}
/* 部落方同盟族 */
.chart_lt_item,.chart_gt_item{
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
 
}
.chart_lt_item{
    text-align: left;
}
.chart_gt_item{
    text-align: right;
}
.chart_lt_item img{
    width: 20%;
}
.chart_lt_item div{
    width: 80%;
    padding: 5px;
    font-family: '微软雅黑';
    color: #eee;
    border-bottom: 1px solid #aaa;
}
.chart_lt_item div>h3{
    margin-top: 10px;
    text-align: left;
}
.chart_lt_item div>p{
    text-indent: 10px;
    font-size: 12px;
    margin-top: 10px;
}

/* 联盟方同盟族 */
.chart_gt_item img{
    width: 20%;
}
.chart_gt_item div{
    width: 80%;
    padding: 5px;
    font-family: '微软雅黑';
    color: #eee;
    border-bottom: 1px solid #aaa;
}
.chart_gt_item div>h3{
    margin-top: 10px;
}
.chart_gt_item div>p{
    text-indent: 10px;
    font-size: 12px;
    margin-top: 10px;
}

.chart_bar{
    text-align: center;
    margin-top: 30px;
}
.chart_line{
    margin-top: 30px;
    text-align: center;
}

/* 页底 */

/* 底部信息列表 */
/* .bottom-info{
    height: 100%;
    position: relative;
    border: 1px solid #0ff;
    font-size: 14px;
    font-family: 'Courier New';
    display: flex;
    justify-content: space-between;
}

.bottom-info-lt,.bottom-info-gt{
    width: 600px;
    height: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
}
.bottom-info-lt{
    margin-left: 50px;
    color: #333;
    font-weight: bold;
    font-family: fantasy;
}
.bottom-info-gt{
    margin-right: 50px;
}
/*底部左边信息*/
.bottom-info-lt>ul{
    margin: 100px auto;
    padding: 20px;
}
.bottom-info-lt>ul li{
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 5px;
    text-align: left; 
}
.bottom-info-lt>ul a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.bottom-info-lt>ul img{
  width:100%;
  height: 100%; 
}
/* 底部右边信息 */
.bottom-info-panel{
    width: 400px;
    height: 200px;
    margin: 100px auto;
    /*border: 1px solid red;*/
    display: flex;
}
.bottom-info-panel>div{
    display: inline-block;
    height: 100%;
}
.bottom-info-panel>div:nth-child(1){
    width: 50%;
    /*border: 1px solid #eee;*/
}
.bottom-info-panel>div:nth-child(1) a{
    display: inline-block;
    width: 100%;
    height: 100px;
    /*border: 1px solid #eee;*/
    background: url(../img/warcraft-logo.png) 0 center no-repeat;
}
.bottom-info-panel>div:nth-child(1) p{
    height: 20px;
    /*border: 1px solid #eee;*/
    font-size: 16px;
    color: #333;
    font-family: 'simHei';
}
.bottom-info-panel>div:nth-child(2){
    width: 50%;
    /*border: 1px solid #eee;*/
}
.bottom-info-panel>div:nth-child(2) img{
    width: 70%;
    height: 70%;
} */


/* 视频播放面板 */

/* 遮罩层 */
.story_video,.occupation_detail{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
}


.video_panel{
    width: 1200px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -300px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.video_panel>video{
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    background: #000;
    position: absolute;
    left:0;
    top: 0;
    margin-top: -20px;
    transform: scale(1.1);
 
}
/* 所有弹出层关闭按钮 */
span.close_video,.close_detail{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px  solid #eee;
    z-index: 999;
    font-size: 40px;
    line-height: 40px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

/* 职业详情弹出 */
.detail_panel{
    width: 0;
    height: 0;
    transition: all 0.3s;
    border: 1px solid #eee;
    overflow: hidden;
    box-shadow: 0 0 10px 2px #000;
    opacity: 0;
}
.detail_panel_tp{
    width: 100%;
    height: 260px; 
    border: 1px solid #eee;
    background: url(../img/Box-honor-red.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}
.detail_panel_tp h2{
    position: absolute;
    left: 35%;
    bottom: 10%;
    color: #eee;
    font-family: '微软雅黑';
    font-size: 30px;
    text-shadow: 0 0 5px #ff0;
}
.detail_panel_tp img{
    width: 300;
    height: 320px;
    /* border:1px solid #eee;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -120px; */
}
.detail_panel_bt{
    width: 100%;
    height: 340px;
    border: 1px solid #eee;
    background: url(../img/Box-paper.png) center center no-repeat;
    background-size: cover;
    font-family: '微软雅黑';
}
.detail_panel_bt h2{
    text-align: center;
   
}

.detail_panel_bt p{
    text-indent: 20px;
    font-size: 14px;
    padding: 20px;
}
.detail_panel_bt p:nth-child(1){
    margin-top: 30px;
    font-size: 16px;
    text-shadow: 0 0 5px #ff8c00;
}
.detail_panel_bt>div{
    height: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    background: url(../img/Box-leather-grey-dark.jpg) center center ;
}
.detail_panel_bt>div>img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
/* 缩放渐入 */
.blow_up{
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-300px;
    width:800px;
    height:600px;
    z-index:999;
    opacity: 1;
}
.ability_box{
    position: absolute;
    width: 100px;
    height: 150px;
    border: 1px solid #eee;
    left: 100px;
    top: 100px;
}
